Ch18/Ch18_3_3a.json
[{"id":"aebfbbab.6e1bc8","type":"http request","z":"807eba3a.3f2408","name":"","method":"GET","ret":"txt","url":"http://finance.google.com/finance/info?client=ig&q=TPE:{{payload.stock_id}}","tls":"","x":190,"y":701,"wires":[["f8c6406d.79b93"]]},{"id":"2a1c5186.1b6cee","type":"debug","z":"807eba3a.3f2408","name":"","active":true,"console":"false","complete":"payload[0].t","x":575,"y":702,"wires":[]},{"id":"f8c6406d.79b93","type":"function","z":"807eba3a.3f2408","name":"Substring","func":"msg.payload = msg.payload.substring(4);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":625,"wires":[["ba742a26.b3f7d8"]]},{"id":"ba742a26.b3f7d8","type":"json","z":"807eba3a.3f2408","name":"","x":390,"y":701,"wires":[["2a1c5186.1b6cee","7dddd978.f7ae58","edd1d467.c703e8"]]},{"id":"7dddd978.f7ae58","type":"debug","z":"807eba3a.3f2408","name":"","active":true,"console":"false","complete":"payload[0].l","x":565,"y":781,"wires":[]},{"id":"90f95e8b.824dd","type":"http in","z":"807eba3a.3f2408","name":"","url":"/stock","method":"post","swaggerDoc":"","x":128,"y":623,"wires":[["aebfbbab.6e1bc8"]]},{"id":"2adfc05c.506c","type":"template","z":"807eba3a.3f2408","name":"HTML表單","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>HTML Form</title>\n    </head>\n    <body>\n       <form action=\"/stock\" method=\"POST\">\n         股票代碼:\n         <input type=\"text\" name=\"stock_id\" value=\"2454\"><br/><br/>\n         <input type=\"submit\" value=\"送出\">\n       </form> \n    </body>\n</html>\n\n","x":297,"y":525,"wires":[["cb1c6a9e.345638"]]},{"id":"464c7f5d.4f77a","type":"http in","z":"807eba3a.3f2408","name":"","url":"/stock","method":"get","swaggerDoc":"","x":118,"y":526,"wires":[["2adfc05c.506c"]]},{"id":"cb1c6a9e.345638","type":"http response","z":"807eba3a.3f2408","name":"","x":473,"y":528,"wires":[]},{"id":"8381b150.acaf5","type":"template","z":"807eba3a.3f2408","name":"HTML網頁","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Form Handle</title>\n    </head>\n    <body>\n        <h1>股票代碼: {{payload.t}} </h1>\n        <h2>收盤價: {{payload.l}}</h2>\n    </body>\n</html>","x":586,"y":645,"wires":[["402dc9c9.b11898"]]},{"id":"402dc9c9.b11898","type":"http response","z":"807eba3a.3f2408","name":"","x":736,"y":633,"wires":[]},{"id":"edd1d467.c703e8","type":"function","z":"807eba3a.3f2408","name":"Format Data","func":"msg.payload.t = msg.payload[0].t;\nmsg.payload.l = msg.payload[0].l;\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":586,"wires":[["8381b150.acaf5"]]}]