Ch18/Ch18_3_1b.json
[{"id":"36223cdb.c39264","type":"http in","z":"5a3f2057.85ddc","name":"","url":"/query","method":"get","swaggerDoc":"","x":146,"y":353,"wires":[["e1a65755.d89b88"]]},{"id":"e1a65755.d89b88","type":"template","z":"5a3f2057.85ddc","name":"HTML頁面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Query Parameters</title>\n    </head>\n    <body>\n        <h1>查詢參數:{{req.query.name}} </h1>\n    </body>\n</html>","x":360,"y":359,"wires":[["e031a883.07b258"]]},{"id":"e031a883.07b258","type":"http response","z":"5a3f2057.85ddc","name":"","x":541,"y":355,"wires":[]}]