Ch18/Ch18_5.json
[{"id":"c46d3765.fa1788","type":"http in","z":"eca51688.a1f758","name":"","url":"/iot","method":"get","swaggerDoc":"","x":132,"y":119,"wires":[["7d5bf946.275d88"]]},{"id":"63140a22.6bbb64","type":"template","z":"eca51688.a1f758","name":"HTML頁面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta charset='utf-8'/>\n<script>\nfunction changed(led) {\n    window.location.href='/' + led;  \n}\n</script>\n<head>\n<body>\n<h1>使用Web介面控制Arduino開發板</h1>\n<h2>LED 0 : {{ flow.state0 }}</h2>\n<h2>LED 1: {{ flow.state1 }}</h2>\n<input type='button' onClick='changed(0)' value='LED 0'/> | \n<input type='button' onClick='changed(1)' value='LED 1'/>\n</body>\n</html>","x":570,"y":123,"wires":[["7101649a.0c546c"]]},{"id":"7101649a.0c546c","type":"http response","z":"eca51688.a1f758","name":"","x":714,"y":96,"wires":[]},{"id":"7d5bf946.275d88","type":"change","z":"eca51688.a1f758","name":"LED States","rules":[{"t":"set","p":"state0","pt":"flow","to":"OFF","tot":"str"},{"t":"set","p":"state1","pt":"flow","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":307,"y":103,"wires":[["63140a22.6bbb64"]]},{"id":"8c6e772c.b22c68","type":"arduino out","z":"eca51688.a1f758","name":"RED LED","pin":"13","state":"OUTPUT","arduino":"cd5a27e1.fb4378","x":671,"y":259,"wires":[]},{"id":"1404b2b9.ee66ed","type":"http in","z":"eca51688.a1f758","name":"","url":"/0","method":"get","swaggerDoc":"","x":122,"y":256,"wires":[["7a75c26d.97b57c"]]},{"id":"7a75c26d.97b57c","type":"switch","z":"eca51688.a1f758","name":"Check State0","property":"state0","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":298,"y":244,"wires":[["ff3dd447.2eeab8"],["d5a9c48f.6eb538"]]},{"id":"ff3dd447.2eeab8","type":"change","z":"eca51688.a1f758","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"state0","pt":"flow","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":476,"y":214,"wires":[["8c6e772c.b22c68","63140a22.6bbb64"]]},{"id":"d5a9c48f.6eb538","type":"change","z":"eca51688.a1f758","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"state0","pt":"flow","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":457,"y":296,"wires":[["8c6e772c.b22c68","63140a22.6bbb64"]]},{"id":"7ad57f58.90587","type":"arduino out","z":"eca51688.a1f758","name":"YELLO LED","pin":"12","state":"OUTPUT","arduino":"cd5a27e1.fb4378","x":672,"y":394,"wires":[]},{"id":"8ec2e71.af43718","type":"http in","z":"eca51688.a1f758","name":"","url":"/1","method":"get","swaggerDoc":"","x":121,"y":388,"wires":[["ea106b39.e258f8"]]},{"id":"ea106b39.e258f8","type":"switch","z":"eca51688.a1f758","name":"Check State1","property":"state1","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":295,"y":384,"wires":[["ff705639.862d18"],["8673870d.26bfe8"]]},{"id":"ff705639.862d18","type":"change","z":"eca51688.a1f758","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"state1","pt":"flow","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":473,"y":360,"wires":[["7ad57f58.90587","63140a22.6bbb64"]]},{"id":"8673870d.26bfe8","type":"change","z":"eca51688.a1f758","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"state1","pt":"flow","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":454,"y":442,"wires":[["7ad57f58.90587","63140a22.6bbb64"]]},{"id":"cd5a27e1.fb4378","type":"arduino-board","z":"","device":"COM3"}]