Ch18/Ch18_3_1.json
[{"id":"caf0b601.d05128","type":"http in","z":"5a3f2057.85ddc","name":"","url":"/hello","method":"get","swaggerDoc":"","x":127,"y":260,"wires":[["2aaf4909.c62386"]]},{"id":"2aaf4909.c62386","type":"template","z":"5a3f2057.85ddc","name":"HTML頁面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Hello</title>\n    </head>\n    <body>\n        <h1>我的Hello World!網頁</h1>\n    </body>\n</html>","x":319,"y":266,"wires":[["8e90d7bc.468cb8"]]},{"id":"8e90d7bc.468cb8","type":"http response","z":"5a3f2057.85ddc","name":"","x":492,"y":270,"wires":[]}]