Ch18/Ch18_3_1d.json
[{"id":"a64669f1.12d118","type":"http in","z":"5a3f2057.85ddc","name":"","url":"/json","method":"get","swaggerDoc":"","x":133,"y":537,"wires":[["432b83a0.7c391c"]]},{"id":"432b83a0.7c391c","type":"template","z":"5a3f2057.85ddc","name":"JSON¸ê®Æ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"name\" : \"Joe\" }","x":299,"y":548,"wires":[["5379c2e4.218dec"]]},{"id":"a95763d9.f6f56","type":"http response","z":"5a3f2057.85ddc","name":"","x":618,"y":546,"wires":[]},{"id":"5379c2e4.218dec","type":"change","z":"5a3f2057.85ddc","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"appliction/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":465,"y":520,"wires":[["a95763d9.f6f56"]]}]