Ch18/Ch18_3_3.json
[{"id":"199417cb.39faa8","type":"http request","z":"807eba3a.3f2408","name":"","method":"GET","ret":"txt","url":"http://finance.google.com/finance/info?client=ig&q=TPE:{{stock_id}}","tls":"","x":316,"y":249,"wires":[["4162c369.c345cc"]]},{"id":"8bcd8785.9fcdf8","type":"debug","z":"807eba3a.3f2408","name":"","active":true,"console":"false","complete":"payload[0].t","x":609,"y":350,"wires":[]},{"id":"d4005d47.f0989","type":"inject","z":"807eba3a.3f2408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":255,"wires":[["a8777b37.b44228"]]},{"id":"a8777b37.b44228","type":"function","z":"807eba3a.3f2408","name":"Stock ID","func":"msg.stock_id = \"2454\";\nreturn msg;","outputs":1,"noerr":0,"x":214,"y":314,"wires":[["199417cb.39faa8"]]},{"id":"4162c369.c345cc","type":"function","z":"807eba3a.3f2408","name":"Substring","func":"msg.payload = msg.payload.substring(4);\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":304,"wires":[["f5bdbfeb.42ed6"]]},{"id":"f5bdbfeb.42ed6","type":"json","z":"807eba3a.3f2408","name":"","x":422,"y":380,"wires":[["8bcd8785.9fcdf8","c8b28c54.03e55"]]},{"id":"c8b28c54.03e55","type":"debug","z":"807eba3a.3f2408","name":"","active":true,"console":"false","complete":"payload[0].l","x":606,"y":407,"wires":[]}]