Ch18/Ch18_4_3.json
[{"id":"b730ba9b.52d4e8","type":"switch","z":"f9a31e1a.a8d0e","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":309,"y":358,"wires":[["cb3935bd.930af8"],["ee90c2ca.053a6"]]},{"id":"95a48322.84845","type":"arduino in","z":"f9a31e1a.a8d0e","name":"Button","pin":"2","state":"INPUT","arduino":"cd5a27e1.fb4378","x":145,"y":359,"wires":[["b730ba9b.52d4e8"]]},{"id":"cb3935bd.930af8","type":"change","z":"f9a31e1a.a8d0e","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":477,"y":307,"wires":[["821378cc.b88288"]]},{"id":"ee90c2ca.053a6","type":"change","z":"f9a31e1a.a8d0e","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":477,"y":400,"wires":[["821378cc.b88288"]]},{"id":"821378cc.b88288","type":"arduino out","z":"f9a31e1a.a8d0e","name":"RED LED","pin":"13","state":"OUTPUT","arduino":"cd5a27e1.fb4378","x":656,"y":343,"wires":[]},{"id":"cd5a27e1.fb4378","type":"arduino-board","z":"","device":"COM3"}]