Ch18/Ch18_2_2.json
[{"id":"edad2290.e7783","type":"inject","z":"947c7e66.fec28","name":"","topic":"","payload":"Hello World!","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":93,"wires":[["fac6ab52.8d0e58"]]},{"id":"fac6ab52.8d0e58","type":"function","z":"947c7e66.fec28","name":"My Name","func":"msg.payload += \" Joe Chen\";\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":160,"wires":[["322f7597.e5fbba"]]},{"id":"322f7597.e5fbba","type":"debug","z":"947c7e66.fec28","name":"","active":true,"console":"false","complete":"payload","x":362,"y":223,"wires":[]}]