Ch18/Ch18_3_2.json
[{"id":"a7e5b896.f31388","type":"template","z":"807eba3a.3f2408","name":"HTML表單","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>HTML Form</title>\n    </head>\n    <body>\n       <form action=\"/name\" method=\"POST\">\n         姓名:\n         <input type=\"text\" name=\"name\"><br/><br/>\n         <input type=\"submit\" value=\"送出\">\n       </form> \n    </body>\n</html>\n\n","x":332,"y":103,"wires":[["fd8cf818.663dd8"]]},{"id":"495a27fd.068968","type":"http in","z":"807eba3a.3f2408","name":"","url":"/form","method":"get","swaggerDoc":"","x":153,"y":104,"wires":[["a7e5b896.f31388"]]},{"id":"fd8cf818.663dd8","type":"http response","z":"807eba3a.3f2408","name":"","x":508,"y":106,"wires":[]},{"id":"b65fd880.6f4228","type":"http in","z":"807eba3a.3f2408","name":"","url":"/name","method":"post","swaggerDoc":"","x":159,"y":174,"wires":[["c0793855.8cedf8"]]},{"id":"9d9e0bae.4678d8","type":"http response","z":"807eba3a.3f2408","name":"","x":528,"y":176,"wires":[]},{"id":"c0793855.8cedf8","type":"template","z":"807eba3a.3f2408","name":"HTML網頁","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Form Handle</title>\n    </head>\n    <body>\n        <h1>輸入姓名: {{payload.name}} </h1>\n    </body>\n</html>\n","x":352,"y":175,"wires":[["9d9e0bae.4678d8"]]}]