Ch18/Ch18_4_2.json
[{"id":"4adc39bd.9d93c8","type":"arduino out","z":"f9a31e1a.a8d0e","name":"RED LED","pin":"13","state":"OUTPUT","arduino":"cd5a27e1.fb4378","x":456,"y":172,"wires":[]},{"id":"c0994d26.40d16","type":"inject","z":"f9a31e1a.a8d0e","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":218,"y":131,"wires":[["4adc39bd.9d93c8"]]},{"id":"b150fa91.2f4238","type":"inject","z":"f9a31e1a.a8d0e","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":217,"y":216,"wires":[["4adc39bd.9d93c8"]]},{"id":"cd5a27e1.fb4378","type":"arduino-board","z":"","device":"COM3"}]