Ch18/example.json
[
    {
        "id": "deea9ac7.ffc498",
        "type": "http in",
        "z": "5a3f2057.85ddc",
        "name": "",
        "url": "/test",
        "method": "get",
        "swaggerDoc": "",
        "x": 137,
        "y": 167,
        "wires": [
            [
                "7764c3e0.bc813c"
            ]
        ]
    },
    {
        "id": "46e1fa6a.d89e14",
        "type": "template",
        "z": "5a3f2057.85ddc",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "x": 475,
        "y": 179,
        "wires": [
            [
                "ca89bb36.3a10f8"
            ]
        ]
    },
    {
        "id": "7764c3e0.bc813c",
        "type": "function",
        "z": "5a3f2057.85ddc",
        "name": "",
        "func": "msg.payload = \"Joe Chen\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 297,
        "y": 151,
        "wires": [
            [
                "46e1fa6a.d89e14"
            ]
        ]
    },
    {
        "id": "ca89bb36.3a10f8",
        "type": "http response",
        "z": "5a3f2057.85ddc",
        "name": "",
        "x": 663,
        "y": 152,
        "wires": []
    }
]